*#*
callgrind*
gmon.out
profile.txt
generate_source_function.x
generate_source_function_gpu.x
test
test/*
python/*.so
python/*.h
python/*.cpp
python/*.ipynb
python/.ipy*
python/build
python/build/*
python/model_fit
python/model_fit/*