*#*
callgrind*
gmon.out
profile.txt
*.x
generate_source_function.x
generate_source_function_gpu.x
/test
/test/**
python/*.so
python/*.h
python/*.cpp
python/.ipy*
python/build
python/build/*
python/model_fit
python/model_fit/*
python/test/.ipynb_checkpoints/
python/__pycache__
python/test/__pycache__
*nvvp*
bin/
.ccls*